<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Upload File</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row flex-container">
              <div class="col-md-9 pr-1">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" [(ngModel)] = "recordForm.title" name = "title" placeholder="Title">
                </div>
              </div>
              <div class="col-md-2 px-1" >
                <div class="form-group" style="padding-left: 4em;">
                  <label>Edition</label>
                  <input type="text" [(ngModel)] = "recordForm.edition" class="form-control" name= "edition" placeholder="Edition">
                </div>
              </div>
            </div>
            <div class="row flex-container">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label for="type">Type</label>
                  <input name="type" id="record_type" [(ngModel)] = "recordForm.type" class="form-control" placeholder="Type">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Category</label>
                  <input type="text" name="category" [(ngModel)] = "recordForm.category" class="form-control" placeholder="Category">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Specialisation</label>
                  <input type="text" name="specialisation" [(ngModel)] = "recordForm.specialisation" class="form-control" placeholder="Specialisation" >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div>
                  <label class="btn btn-default">
                    <input accept="application/pdf" type="file" (change)="selectFile($event)">
                  </label>


                  <!-- <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
                </div>
              </div>
            </div>
            <div class="col-md-4" style="margin: auto;">
              <button class="btn btn-block" [disabled]="!selectedFiles" type="submit" (click)="upload()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
