
<div class="logo">
    <a href="https://www.pec.ac.in/" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="https://media.glassdoor.com/sqll/945179/pec-university-of-technology-squarelogo-1521117818380.png"/>
      </div>
    </a>
    <a href="https://www.pec.ac.in/" class="simple-text logo-normal">
        PEC Connect
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
