<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Top 5</h5>
          <h4 class="card-title"> Recently Viewed</h4>
        </div>
        <hr style="margin: 0px;">

        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="flex-container text-primary rowdata ">
                <th>
                  #
                </th>
                <th>
                  Title
                </th>
                <th>
                  Type
                </th>
                <th>
                  Category
                </th>
                <th>
                  Specialisation
                </th>
                <th>
                  Posted By
                </th>
                <th>
                  Actions
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let record of viewedList; let i = index" class="flex-container rowdata">
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{record.title}}
                  </td>
                  <td>
                    {{record.type}}
                  </td>
                  <td>
                    {{record.category}}
                  </td>
                  <td>
                    {{record.specialisation}}
                  </td>
                  <td>
                    {{record.posted_by}}
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" title="View" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="View" (click)="openFile(record.path,record.id)">
                      <i class="now-ui-icons education_glasses"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Download" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Download">
                      <i class="now-ui-icons arrows-1_share-66"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">Top 5</h5>
          <h4 class="card-title"> Recently Added</h4>
        </div>
        <hr style="margin: 0px;">

        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="flex-container text-primary rowdata ">
                <th>
                  #
                </th>
                <th>
                  Title
                </th>
                <th>
                  Type
                </th>
                <th>
                  Category
                </th>
                <th>
                  Specialisation
                </th>
                <th>
                  Posted By
                </th>
                <th>
                  Actions
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let record of uploadList; let i = index" class="flex-container rowdata">
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{record.title}}
                  </td>
                  <td>
                    {{record.type}}
                  </td>
                  <td>
                    {{record.category}}
                  </td>
                  <td>
                    {{record.specialisation}}
                  </td>
                  <td>
                    {{record.posted_by}}
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" title="View" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="View" (click)="openFile(record.path,record.id)">
                      <i class="now-ui-icons education_glasses"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Download" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                      data-original-title="Download">
                      <i class="now-ui-icons arrows-1_share-66"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
